<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}API Shipment!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage_index') }}">Api Shipment</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ path('api_index_shipment') }}">Shipments </a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a class="pull-right" href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="pull-right" href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
