{% extends 'base.html.twig' %}
{% block body %}
    {% if error|length > 0 %}
        <div class="alert-danger">{{ error|join(', ') }}</div>
    {% endif %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="">Shipments</h1>
        <br>
        <br>
    </div>
    <div class="modal-body">
        {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        {{ form_row(form.id, { 'attr': {'readonly': 'readonly'} }) }}
        {{ form_row(form.name) }}
        <p>
            <button type="submit" name="submit" class="btn btn-primary">Update</button>
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}