{% extends 'base.html.twig' %}
{% block body %}
    {% if error|length > 0 %}
        <div class="alert-danger">{{ error|join(', ') }}</div>
    {% endif %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="">Shipments</h1>
        <br>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#newShipment">
            Create new
        </button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newItem">
            Add item
        </button>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Is send</th>
                    <th>Last sended at</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Items</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for shipment in shipments %}
                    <tr>
                        <td>{{ shipment.id }}</td>
                        <td>{{ shipment.name }}</td>
                        <td>{{ shipment.is_send ? 'Yes':'No' }}</td>
                        <td>{{ shipment.last_sended_at|date("m/d/Y") }}</td>
                        <td>{{ shipment.created_at|date("m/d/Y") }}</td>
                        <td>{{ shipment.updated_at|date("m/d/Y") }}</td>
                        <td>
                            {% for item in shipment.items %}
                                <p>{{ item.name }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('api_edit_shipment', {'id': shipment.id }) }}"
                               class="btn btn-info">Update</a>
                            <a href="{{ path('api_delete_shipment', {'id': shipment.id }) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ path('api_send_shipment', {'id': shipment.id }) }}"
                               class="btn btn-primary">Send</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="newShipment" tabindex="-1" role="dialog" aria-labelledby="newShipmentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newShipmentLabel">Create new Shipment</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit" name="submit" class="btn btn-primary">Save</button>
                    </p>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newItem" tabindex="-1" role="dialog" aria-labelledby="newItemLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newItemLabel">Create new Item</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formItem) }}
                    {{ form_widget(formItem) }}
                    <p>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </p>
                    {{ form_end(formItem) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}