{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-4 col-md-offset-4">
        <form class="form-signin" action="{{ path('login') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Email address</label>
            <input id="username" class="form-control" value="{{ last_username }}" name="_username"
                   placeholder="Email address" required="" autofocus="" type="email">
            <br>
            <label for="password" class="sr-only">Password</label>
            <input id="password" class="form-control" placeholder="Password" name="_password" required=""
                   type="password">
            <input type="hidden" name="_target_path" value="token"/>
            <br>
            {% if error %}
                <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}